.container{
    position: absolute;
    justify-content: center;
    top:128px;
    height: 70vh;
    width: 100lh;
    flex-direction: row;
    align-items: center;
    display: inline-flex;
}
.nav-bar-tab-box{
    color: #1D1D1F;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}
.header-box{
    top: 64px;
    height: 64px;
    position: absolute;
    mix-blend-mode: darken;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}
.text{
    flex: 5;
    padding-top: 8px;
    font-size: 12px;
    align-content:flex-start;
    text-align:left;
}
.save-button{
    border:1px #1D1D1F;
    padding: 11px 16px;
    background: linear-gradient(0deg, white 0%, white 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%);
    border-radius: 10px;
    overflow: hidden;
    display: inline-flex;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 400;
    word-wrap: break-word;
}
.button-div{
    position: relative;
    top: 20vh;
}
.select-operator{
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    display: inline-flex;
    top: 10%;
    padding: 0 20px;
    text-align:end;
}
.function-input-description{
    color: black;
    font-size: 9px;
    font-family: Roboto;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.80px;
    word-wrap: break-word;
}
.comparison-box{
    width: fit-content;
    gap: 4px;
    display: inline-flex;
    padding: 0 20px;
}