
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-text" align-text="center"> <h4>{{ data.table_name }}</h4> </span>
    </div>
  </nav>

  
  <table class="table mt-3" style="color: rgb(9, 9, 9);">

    <thead>
        <th scope="col">Custom Name</th>
        <th scope="col">Orignal Name</th>
        <th scope="col">Data-Type</th>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of data.columns_data">
          <tr>
            <td>{{ item.custom_name }}</td>
            <td>{{ item.orignal_name }}</td>
            <td>{{ item.dtype }}</td>
          </tr>
        </ng-container>     
    </tbody>
    <tfoot>
      <button type="submit" class="btn btn-primary" (click)="seesampledata(data.table_name,data.db_type,data.db_name)" >See Sample Data</button>
    </tfoot>
  </table>