
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-text" align-text="center"> <h4>Database Name </h4> </span>
    </div>
  </nav>

  
  <table class="table mt-3" style="color: rgb(9, 9, 9);">
    
    <tbody>
        <tr>
            <td>TABLE1</td>
            <td>Table1</td>
            <td>
                <button class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#exampleModal" >
                  <mat-icon>open_in_new</mat-icon>
                </button>
            </td>
        </tr>
        <tr>
          <td>TABLE2</td>
          <td>Table2</td>
          <td>
              <button class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                <mat-icon>open_in_new</mat-icon>
              </button>
          </td>
      </tr>