<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button routerLink="/Join">Join Condition</button>
    <button mat-button routerLink="/GroupBy">GroupBy</button>
    <button mat-button routerLink="/OrderBy">Order By</button>
    <button mat-button routerLink="/Where">Where</button>
    <button mat-button routerLink="/Display">Display</button>
    <button mat-button routerLink="/Aggregations">Aggregate</button>
    <button mat-button routerLink="/Summary">Summary</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="header-box left">Define Group By Condition</div>
<div class="header-box right">Already added Group By Conditions</div>
<div class="left box">
    <div style="top:20%; position: absolute">
        <div class="select-operator">
            <div class="function-input-description">Select Table Name</div>
            <mat-form-field>
                <mat-label>Table Names</mat-label>
                <mat-select [(ngModel)]="selectedTableName">
                <mat-option *ngFor="let tableName of tableNames" [value]="tableName">{{tableName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <p *ngIf="selectedTableName">Selected Table Name: {{ selectedTableName }}</p>
        </div>

        <div class="select-operator">
            <div class="function-input-description">Select Column Name</div>
                <mat-form-field>
                    <mat-label>Column Names</mat-label>
                    <mat-select [(ngModel)]="selectedColumnName" multiple>
                    <mat-option *ngFor="let columnName of tableData[selectedTableName]" [value]="columnName">{{columnName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            <p *ngIf="selectedColumnName">Selected Column Name: {{ selectedColumnName }}</p>
        </div>               
    </div>
    <div class="button-div">
        <button class="save-button">Save</button>
        <!-- <button routerLink="/Page1" class="save-button">Add Another</button> -->
    </div>
</div>
<div class="right box">
    <br><br><br>
    <table class="agg-table" style="top:20%">
        
        <tr class="row">
            <!-- <div class="img"><img src="https://via.placeholder.com/30x30" /></div> -->
            <div class="img"><mat-icon>delete</mat-icon></div>
            <div class="text">{{ selectedOptions ? selectedOptions + '(' : '' }}{{ selectedTableName ? selectedTableName + '.' : '' }}{{ selectedColumnName ? selectedColumnName + ')' : ''}}</div>
        </tr>
        
    </table>
    <div class="button-div">
        <button class="save-button"> Reset All </button>
        <button class="save-button"> Validate All </button>
    </div>
    <div class="lower-button-div">
        <button routerLink="/OrderBy" class="save-button">Save and Proceed ></button>
    </div>
</div>