<mat-toolbar>
    <mat-toolbar-row>
      <button mat-button routerLink="/Operations">Join Condition</button>
      <button mat-button routerLink="/Page1">GroupBy</button>
      <button mat-button routerLink="/Page1">Order By</button>
      <button mat-button routerLink="/Page1">Where</button>
      <button mat-button routerLink="/Page1">Display</button>
      <button mat-button routerLink="/Operations">Aggregate</button>
      <button mat-button routerLink="/Page1">Summary</button>
    </mat-toolbar-row>
</mat-toolbar>
