<!-- <<<<<<< front-end
<form>
 <div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Select</th>
            <th scope="col">Table Name</th>
            <th scope="col">User-defined Name</th>
            <th scope="col">Primary</th>
            <th scope="col">Set Column-Config</th>
             
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                  <label class="custom-control-label" for="customCheck1">Table 1</label>
              </div>
            </td>
            <td></td>
            <td><input type="text" id="dbName"  placeholder="Enter filename"></td>
            <td><mat-form-field>
              <mat-label>Cars</mat-label>
              <select matNativeControl required>
                <option>Select primary key</option>
                <option value="id">ID</option>
                <option value="name">Name</option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </mat-form-field></td>
            <td><button (click)="openDialog()">Set Column Config</button></td>
        
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck2">
                  <label class="custom-control-label" for="customCheck2">Table 2</label>
              </div>
            </td>
            <td></td>
            <td><input type="text" id="dbName"  placeholder="Enter filename"></td>
            <td><mat-form-field>
              <mat-label>Cars</mat-label>
              <select matNativeControl required>
                <option>Select primary key</option>
                <option value="id">ID</option>
                <option value="name">Name</option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </mat-form-field></td>
            <td><button (click)="openDialog()">Set Column Config</button></td>
        
        
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck3">
                  <label class="custom-control-label" for="customCheck3">Table 3</label>
              </div>
            </td>
            <td></td>
            <td><input type="text" id="dbName"  placeholder="Enter filename"></td>
            <td><mat-form-field>
              <mat-label>Cars</mat-label>
              <select matNativeControl required>
                <option>Select primary key</option>
                <option value="id">ID</option>
                <option value="name">Name</option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </mat-form-field></td>
            <td><button (click)="openDialog()">Set Column Config</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</form>
======= -->
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Table Name</th>
        <th scope="col">User-defined Name</th>
        <th scope="col">Primary Key</th>
        <th scope="col">Sample Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Table 1</td>
        <td>Table 2</td>
        <td>Table 3</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
<!-- >>>>>>> backend-frontend-integration -->
