

<table class="table mt-3" style="color: rgb(9, 9, 9);">
<thead>
    <tr>
      <th> </th>
        <th scope="col">Database Name</th>
        <th scope="col">Action</th>
       
    </tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>ABC</td>
        <td>
            <button class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openDialog()">
              <mat-icon>open_in_new</mat-icon>
            </button>
        </td>
    </tr>
    <tr>
      <td>2</td>
      <td>XYZ</td>
      <td>
          <button class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openDialog()">
            <mat-icon>open_in_new</mat-icon>
          </button>
      </td>
  </tr>

</tbody>
</table> 

   


 

