<mat-toolbar>
    <mat-toolbar-row>
      <button mat-button routerLink="/Page1">Join Condition</button>
      <button mat-button routerLink="/Page1">GroupBy</button>
      <button mat-button routerLink="/Page1">Order By</button>
      <button mat-button routerLink="/Page1">Where</button>
      <button mat-button routerLink="/Page1">Display</button>
      <button mat-button routerLink="/Page1">Aggregate</button>
      <button mat-button routerLink="/Page1">Summary</button>
    </mat-toolbar-row>
</mat-toolbar>
<!-- <div style="width: 100%; height: 100%; position: relative; background: white"> -->
    <div style="width: 1265px; height: 880px; left: 80px; top: 200px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"></div>
    <div style="width: 574px; height: 880px; left: 1345px; top: 200px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 574px; height: 880px; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"></div>
    </div>
    <div style="width: 8%; height: 3%; left: 633px; top: 640px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="padding-top: 6px; padding-bottom: 6px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="width: 20px; align-self: stretch; padding-top: 1px; padding-bottom: 1px; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 20px; height: 20px; background: rgba(255, 255, 255, 0); box-shadow: 0px 0px 0px 3px rgba(0, 113, 227, 0.10); border-radius: 6px; border: 1px rgba(0, 113, 227, 0.20) solid"></div>
            </div>
            <div class="nav-bar-tab-box">Variance</div>
        </div>
    </div>
    <div style="width: 8%; height: 3%; left: 633px; top: 465px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="padding-top: 6px; padding-bottom: 6px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="width: 20px; align-self: stretch; padding-top: 1px; padding-bottom: 1px; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 20px; height: 20px; background: rgba(255, 255, 255, 0); box-shadow: 0px 0px 0px 3px rgba(0, 113, 227, 0.10); border-radius: 6px; border: 1px rgba(0, 113, 227, 0.20) solid"></div>
            </div>
            <div class="nav-bar-tab-box">Count</div>
        </div>
    </div>
    <div style="width: 8%; height: 3%; left: 633px; top: 430px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="padding-top: 6px; padding-bottom: 6px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="width: 20px; align-self: stretch; padding-top: 1px; padding-bottom: 1px; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 20px; height: 20px; background: #0071E3; box-shadow: 0px 0px 0px 3px rgba(0, 113, 227, 0.10); border-radius: 6px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 10px; height: 9.51px; background: white"></div>
                </div>
            </div>
            <div class="nav-bar-tab-box">Sum</div>
        </div>
    </div>
    <div style="height: 45px; left: 613px; top: 370px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
        <div style="color: black; font-size: 9px; font-family: Roboto; font-weight: 400; text-transform: uppercase; letter-spacing: 1.80px; word-wrap: break-word">Select Operator</div>
        <div style="align-self: stretch; padding: 8px; background: white; border-radius: 4px; border: 1px #A6A6A6 solid; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
            <div style="flex: 1 1 0; color: #A6A6A6; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Aggregate Functions</div>
            <div style="width: 10px; height: 10px; position: relative">
                <div style="width: 8px; height: 4px; left: 1px; top: 7px; position: absolute; border: 1px #404040 solid"></div>
            </div>
        </div>
    </div>
    <div style="height: 45px; left: 474px; top: 287px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
        <div style="color: black; font-size: 9px; font-family: Roboto; font-weight: 400; text-transform: uppercase; letter-spacing: 1.80px; word-wrap: break-word">Select Table Name</div>
        <div style="align-self: stretch; padding: 8px; background: white; border-radius: 4px; border: 1px #A6A6A6 solid; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
            <div style="flex: 1 1 0; color: #A6A6A6; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Table Names</div>
            <div style="width: 10px; height: 10px; position: relative">
                <div style="width: 8px; height: 4px; left: 1px; top: 3px; position: absolute; border: 1px #404040 solid"></div>
            </div>
        </div>
    </div>
    <div style="padding-left: 16px; padding-right: 16px; padding-top: 11px; padding-bottom: 11px; left: 593px; top: 757px; position: absolute; background: linear-gradient(0deg, white 0%, white 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%); border-radius: 10px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="text-align: center; color: black; font-size: 20px; font-family: Outfit; font-weight: 400; word-wrap: break-word">Save</div>
    </div>
    <div style="padding-left: 16px; padding-right: 16px; padding-top: 11px; padding-bottom: 11px; left: 686px; top: 757px; position: absolute; background: linear-gradient(0deg, white 0%, white 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%); border-radius: 10px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="text-align: center; color: black; font-size: 20px; font-family: Outfit; font-weight: 400; word-wrap: break-word">Add Another</div>
    </div>
    <div style="height: 45px; left: 751px; top: 287px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
        <div style="color: black; font-size: 9px; font-family: Roboto; font-weight: 400; text-transform: uppercase; letter-spacing: 1.80px; word-wrap: break-word">Select column name</div>
        <div style="align-self: stretch; padding: 8px; background: white; border-radius: 4px; border: 1px #A6A6A6 solid; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
            <div style="flex: 1 1 0; color: #A6A6A6; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Column Names</div>
            <div style="width: 10px; height: 10px; position: relative">
                <div style="width: 8px; height: 4px; left: 1px; top: 3px; position: absolute; border: 1px #404040 solid"></div>
            </div>
        </div>
    </div>
    <div style="width: 32.25px; height: 33px; left: 24px; top: 26.50px; position: absolute; background: #7BE495"></div>
    <div style="width: 22.50px; height: 41.25px; left: 28.50px; top: 17.50px; position: absolute; background: #56C596"></div>
    <div style="width: 11.25px; height: 45px; left: 34.50px; top: 10.75px; position: absolute; background: #38A3A5"></div>
    <div style="width: 15.75px; height: 45.75px; left: 37.50px; top: 7px; position: absolute; background: #205072"></div>
    <div class="save-button-box" style="left: 1474px; top: 823px">
        <div class="save-button">Save and Generate Report ></div>
    </div>
    <div class="save-button-box" style="left: 1503px; top: 760px">
        <div class="save-button">Reset All</div>
    </div>
    <div class="save-button-box" style="left: 1628px; top: 760px">
        <div class="save-button">Save All</div>
    </div>
    <div style="top: 310px" class="drop-down">
        <div class="space-before"></div>
        <div class="summary-content">Count(Table1.Column1)</div>
        <img class="img1" src="https://via.placeholder.com/30x30" />
        <img class="img2" src="https://via.placeholder.com/30x30" />
    </div>
    <div style="top: 354px" class="drop-down">
        <div class="space-before"></div>
        <div class="summary-content">Sum(Table2.Column1)</div>
        <img class="img1" src="https://via.placeholder.com/30x30" />
        <img class="img2" src="https://via.placeholder.com/30x30" />
    </div>
    <div style="top: 398px" class="drop-down">
        <div class="space-before"></div>
        <div class="summary-content">Avg(Table3.Column1)</div>
        <img class="img1" src="https://via.placeholder.com/30x30" />
        <img class="img2" src="https://via.placeholder.com/30x30" />
    </div>
    <div style="top: 442px" class="drop-down">
        <div class="space-before"></div>
        <div class="summary-content">Max(Table1.Column1)</div>
        <img class="img1" src="https://via.placeholder.com/30x30" />
        <img class="img2" src="https://via.placeholder.com/30x30" />
    </div>
    <div style="width: 8%; height: 3%; left: 633px; top: 535px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="padding-top: 6px; padding-bottom: 6px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="width: 20px; align-self: stretch; padding-top: 1px; padding-bottom: 1px; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 20px; height: 20px; background: rgba(255, 255, 255, 0); box-shadow: 0px 0px 0px 3px rgba(0, 113, 227, 0.10); border-radius: 6px; border: 1px rgba(0, 113, 227, 0.20) solid"></div>
            </div>
            <div style="color: #1D1D1F; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Max</div>
        </div>
    </div>
    <div style="width: 8%; height: 3%; left: 633px; top: 605px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="padding-top: 6px; padding-bottom: 6px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="width: 20px; align-self: stretch; padding-top: 1px; padding-bottom: 1px; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 20px; height: 20px; background: rgba(255, 255, 255, 0); box-shadow: 0px 0px 0px 3px rgba(0, 113, 227, 0.10); border-radius: 6px; border: 1px rgba(0, 113, 227, 0.20) solid"></div>
            </div>
            <div class="nav-bar-tab-box">Median</div>
        </div>
    </div>
    <div style="width: 8%; height: 3%; left: 633px; top: 570px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="padding-top: 6px; padding-bottom: 6px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="width: 20px; align-self: stretch; padding-top: 1px; padding-bottom: 1px; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 20px; height: 20px; background: #0071E3; box-shadow: 0px 0px 0px 3px rgba(0, 113, 227, 0.10); border-radius: 6px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 10px; height: 9.51px; background: white"></div>
                </div>
            </div>
            <div class="nav-bar-tab-box">Mean</div>
        </div>
    </div>
    <div style="width: 8%; height: 3%; left: 633px; top: 500px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="padding-top: 6px; padding-bottom: 6px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            <div style="width: 20px; align-self: stretch; padding-top: 1px; padding-bottom: 1px; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 20px; height: 20px; background: #0071E3; box-shadow: 0px 0px 0px 3px rgba(0, 113, 227, 0.10); border-radius: 6px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 10px; height: 9.51px; background: white"></div>
                </div>
            </div>
            <div style="color: #1D1D1F; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Min</div>
        </div>
    </div>
    <div style="width: 100%; height: 60px; left: 80px; top: 80px; position: absolute">
        <div style="width: 100%; height: 60px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 100%; height: 60px; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"></div>
        </div>
        <div style="left: 601.62px" class="nav-bar-content">Summary</div>
        <div style="left: 497.62px" class="nav-bar-content">Aggregate</div>
        <div style="left: 412px" class="nav-bar-content">Display</div>
        <div style="left: 206px" class="nav-bar-content">Order By</div>
        <div style="left: 316px" class="nav-bar-content">Where</div>
        <div style="left: 105px" class="nav-bar-content">Group By</div>
        <div style="left: 3px" class="nav-bar-content">Join<br/>Condition</div>
    </div>
    
    <div style="width: 70%; left: 0" class="header-box">Choose Aggregate Functions</div>
    <div style="width: 30%; left: 70%" class="header-box">Aggregate Functions Described</div>
    <div>
        <div style="width: 70%; left: 0" class="header">Choose Aggregate Functions</div>
        <div style="width: 30%; left: 70%" class="header">Aggregate Functions Described</div>
    </div>
<!-- </div> -->