.nav-bar-tab-box{
    color: #1D1D1F;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}
.nav-bar-content{
    top: 21px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}


.header-box{
    top: 64px;
    position: absolute;
    mix-blend-mode: darken;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    height: 64px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}
.box{
    height:100vh;
    top: 128px;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    display: inline-flex;
}
.left{
    width: 70%;
}
.right{
    width: 30%;
    left: 70%;
}
.agg-table{
    background: white;
    width: 80%;
    text-align: center;
    color: black;    
    word-wrap: break-word;
}
.row{
    height: fit-content;
    display: flex;
    border: 1px #205072 solid;
}
.img{
    flex:1;
    size: 30px 30px;
    padding: 7px 0px;
}
.text{
    flex: 4;
    padding-top: 12px;
    font-size: 12px;
    align-content:center;
}

button{
    border: #1D1D1F;
    padding-left: 15px;
}
.save-button{
    padding: 11px 16px;
    position: relative;
    background: linear-gradient(0deg, white 0%, white 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%);
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 400;
    word-wrap: break-word;
}
.button-div{
    position: absolute;
    top: 80vh;
    display: flex;
    justify-content: center;
}
.lower-button-div{
    position: absolute;
    top: 85vh;
    display: flex;
    justify-content: center;
}

.select-operator{
    height: 45px;
    left: 613px;
    top: 370px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    display: inline-flex;
}
.function-input-description{
    color: black;
    font-size: 9px;
    font-family: Roboto;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.80px;
    word-wrap: break-word;
}
.partial{
    align-self: stretch;
    padding: 8px;
    background: white;
    border-radius: 4px;
    border: 1px #A6A6A6 solid;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}
.partial-content{
    flex: 1 1 0;
    color: #A6A6A6;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
}
.drop-down-button{
    width: 10px;
    height: 10px;
    position: relative;
}
.arrow-sign{
    width: 8px;
    height: 4px;
    left: 1px;
    top: 7px;
    position: absolute;
    border: 1px #404040 solid;
}