<mat-toolbar>
    <mat-toolbar-row>
      <button mat-button routerLink="/Join">Join Condition</button>
      <button mat-button routerLink="/Page1">GroupBy</button>
      <button mat-button routerLink="/Page1">Order By</button>
      <button mat-button routerLink="/Page1">Where</button>
      <button mat-button routerLink="/Page1">Display</button>
      <button mat-button routerLink="/Operations">Aggregate</button>
      <button mat-button routerLink="/Page1">Summary</button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="header-box left">Choose Aggregate Functions</div>
<div class="header-box right">Aggregate Functions Described</div>
<div class="left box">
        <div style="top:20%; position: absolute">
            <div class="select-operator">
                <div class="function-input-description">Select Table Name</div>
                <mat-form-field>
                    <mat-label>Table Names</mat-label>
                    <mat-select [(ngModel)]="selectedTableName">
                    <mat-option *ngFor="let tableName of tableNames" [value]="tableName">{{tableName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p *ngIf="selectedTableName">Selected Table Name: {{ selectedTableName }}</p>
            </div>

            <div class="select-operator">
                <div class="function-input-description">Select Column Name</div>
                    <mat-form-field>
                        <mat-label>Column Names</mat-label>
                        <mat-select [(ngModel)]="selectedColumnName" multiple>
                        <mat-option *ngFor="let columnName of tableData[selectedTableName]" [value]="columnName">{{columnName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                <p *ngIf="selectedColumnName">Selected Column Name: {{ selectedColumnName }}</p>
            </div>
                       
            <div class="select-operator">
                <div class="function-input-description">Select Operator</div>
                <div class="dropdown">
                    <mat-form-field>
                        <mat-label>Aggregate Functions</mat-label>
                        <mat-select [formControl]="operations" [(ngModel)]="selectedOptions" multiple>
                        <mat-option *ngFor="let option of options" [value]="option.name">{{option.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <p *ngIf="selectedOptions">Aggregate Function: {{ selectedOptions }}</p>
            </div>
        </div>
        <div class="button-div">
            <button routerLink="/Page1" class="save-button">Save</button>
            <!-- <button routerLink="/Page1" class="save-button">Add Another</button> -->
        </div>
    </div>
    <div class="right box">
        <br><br><br>
        <table class="agg-table" style="top:20%">
            
            <tr class="row">
                <div class="img"><img src="https://via.placeholder.com/30x30" /></div>
                <div class="text"><p *ngIf="selectedTableName">{{ selectedTableName }}</p><p *ngIf="selectedColumnName">.{{ selectedColumnName }}</p></div>
                <div class="img"><img src="https://via.placeholder.com/30x30" /></div>
            </tr>
            
        </table>
        <div class="button-div">
            <button routerLink="/Page1" class="save-button"> Reset All </button>
            <button routerLink="/Page1" class="save-button"> Save All </button>
        </div>
        <div class="lower-button-div">
            <button class="save-button">Save and Generate Report ></button>
        </div>
    </div>
